@page
@model SunsetsIO.Pages.Rate.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].LocalWeatherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].DateTimeRatedUtc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rating) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalWeatherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateTimeRatedUtc)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
